<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmloyeeWin.Properties.Settings.VmConnectionString"
            connectionString="Data Source=leek.database.windows.net;Initial Catalog=Vm;Persist Security Info=True;User ID=leek.sql;Password=Lak@230204"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>